@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');



.navbar {
    background-color: rgb(46, 44, 44);
    color: rgb(212, 167, 108);
    border: 2px solid rgb(212, 167, 108);
    border-radius: 5px;
}
    

.container-navbar {
    display: flex;
}

.navbar-brand {
    color: rgb(91, 176, 180);
    font-family: "Monoton";
    font-size: large;
    margin-left: 15px;
    align-items: center;
    justify-self: center;
}
.navbar-brand:hover {
    color: rgb(105, 99, 99);
}

.nav-link {
    color: rgb(212, 167, 108);
}
.nav-link:hover {
    color: rgb(105, 99, 99);
}

.navbar-nav {
    margin-left: 50px;
    width: 300px;
    justify-content: space-around;
}

#input-instrument-navbar {
    background-color: rgb(46, 44, 44);
    color: rgb(91, 176, 180);
    border: 1px solid rgb(212, 167, 108);
}

#input-instrument-navbar::placeholder {
    color: rgb(212, 167, 108);
    opacity: 0.4;
}

#input-city-navbar {
    background-color: rgb(46, 44, 44);
    color: rgb(91, 176, 180);
    border: 1px solid rgb(212, 167, 108);
}
#input-city-navbar::placeholder {
    color: rgb(212, 167, 108);
    opacity: 0.4;
}

#navbar-filter {
    margin-left: 250px;
    margin-right: 15px;
}

#btn-filter {
    color: rgb(91, 176, 180);
    border: 1px solid rgb(91, 176, 180);
}

#btn-filter:hover {
    background-color: rgb(46, 44, 44);
    color: rgb(105, 99, 99);
    border: 1px solid rgb(105, 99, 99);
}

.form-control {
    color: rgb(63, 125, 128);
}



