@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');




.container-users-list {
    padding: 10px;
}

.row-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 5px;
    /*border: 2px solid rgb(63, 125, 128);*/
    box-shadow: 0 0 7px rgb(63, 125, 128);

}

.cards {
    color: rgb(63, 125, 128);
    max-width: 375px;
    height: 520px;
    border-radius: 5px;
    margin: 10px 10px 0px 10px;
    box-shadow: 0 0 7px rgb(63, 125, 128);
}

img {
    max-width: 400px;
    height: 250px;
    border-bottom: 1px solid rgb(63, 125, 128);
}

.card-body {
    padding: 3px 7px 3px 7px ;
   
}

.card-name {
    margin-bottom: 0px;
}

.card-city {
    margin-top: 0px;
    margin-bottom: 25px;
    border-bottom: 1px outset rgb(212, 167, 108);
}

.card-instruments {
    margin-bottom: 2px;
    border-bottom: 1px outset rgb(212, 167, 108);
}

.container-purpose {
    height: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-link {
    display: flex;
    text-align: end;
    justify-content: space-between;
    padding: 5px 5px 8px 5px;
}

#link-videos {
    text-decoration: none;
    color: rgb(212, 167, 108);
    opacity: 0.7;
}
#link-videos:hover {
    color:rgb(105, 99, 99);
}

#button-message {
    border: 0px;
    background-color: transparent;
    color: rgb(212, 167, 108);
    opacity: 0.7;
}
#button-message:hover {
    color:rgb(105, 99, 99);

}

.message-popup {
    position: fixed; /* El elemento permanece en la misma posición independientemente del desplazamiento */
    bottom: 40%; /* Posiciona el mensaje emergente al 40% de la parte inferior */
    left: 50%; /* Posiciona el mensaje emergente en el centro horizontal */
    transform: translateX(-50%); /* Centra el mensaje emergente horizontalmente */
    background-color: rgb(46, 44, 44);
    color: rgb(63, 125, 128);
    box-shadow: 0 0 7px rgb(212, 167, 108);
    border-radius: 5px;
    padding: 20px;
    z-index: 1000; /* Asegúrate de que el mensaje emergente esté por encima de otros elementos */
    box-shadow: 0 0 7px rgb(212, 167, 108); /* Añade sombra */
  }
  
    
  .message-popup #popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: rgb(212, 167, 108);
    border: 1px solid rgb(212, 167, 108);
    opacity: 0.9;
    border-radius: 3px;
    color:  rgb(46, 44, 44);
    
  }
  .message-popup #popup-close:hover {
    color: rgb(46, 44, 44);
    border: 1px solid rgb(46, 44, 44);
    border-radius: 5px;
  }
 
  .message-popup h2 {
    margin-top: 25px;
  }

  .message-popup textarea {
    background-color: rgb(46, 44, 44);
    color: rgb(212, 167, 108);
    border: 1px solid rgb(63, 125, 128);
    box-shadow: 0 0 7px rgb(63, 125, 128);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .message-popup #btn-message-popup-submit {
    background-color: rgb(212, 167, 108);
    border: 1px solid rgb(212, 167, 108);
    opacity: 0.9;
    border-radius: 3px;
    color:  rgb(46, 44, 44);
  }
  .message-popup #btn-message-popup-submit:hover {
    background-color: rgb(212, 167, 108);
    border: 1px solid rgb(46, 44, 44);
    border-radius: 3px;
    color:  rgb(46, 44, 44);
  }

  .message-popup span {
    color: rgb(16, 202, 16);
    margin-left: 10px;
  }
  



@media (max-width: 991.98px) {

    .row-list {
        display: block;
        margin: auto;
       
    }

    .card-instruments {
        height: 45px;
        margin-bottom: 3px;
    }

    .container-purpose {
        height: 200px;
        margin-top: 5px;
        margin-bottom: 2px;
    }

    .cards {
        
        height: max-content;
        margin: auto;
    }

}


@media (max-width: 768.98px) {
    
    .row-list {
        display: block;
        margin: auto;
    }

    .card-instruments {
        height: 45px;
        margin-bottom: 2px;
        height: 25px;
    }

    .container-purpose {
        height: 90px;
        margin-top: 5px;
        margin-bottom: 2px;
    }

    .cards {
        height: 500px;
        margin: auto;
    }

    .container-link {
        margin-bottom: 2px;
    }

 }
