@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.container-welcomeScreen {
    padding: 10px;

}

#btn-welcome-screen-go-to-user-list {
    background-color: rgb(95,158,160);
    color: rgb(46, 44, 44);
    border: 1px solid rgb(95,158,160);
    border-radius: 3px;
    width: max-content;
    height: max-content;
}

.container-welcome {
    color: rgb(95,158,160);
}




@media (max-width: 767.98px) { 

    .buttons-header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
    }

    #btn-header-register {
        margin-left: 5px;
        width: 117px;
        height: max-content;
    }
}

